<div class="jumbotron jumbotron-fluid text-white text-center bg-primary p-4">
  <div class="container">
    <h1 class="display-5">Eventbrite, the event's site</h1>
    <p class="lead">Participez aux meilleurs événements près de chez vous.</p>
    <a href="<%= events_path %>" class="btn btn-lg btn-secondary">Voir les événements</a>
  </div>
</div>