<footer class="bg-dark text-white text-center py-3">
  <p>&copy; <%= Date.today.year %> Eventbrite - <a href="#">CGU</a> - <a href="#">Support</a></p>
  <div>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</footer>
